*{
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

div.heart{
    animation: pulse 1s ease infinite;
    background-color: red;
    display: inline-block;
    height: 300px;
    position: relative;
    width: 300px;
}

@keyframes pulse{
    0% {transform: rotate(-45deg) scale(1);}
    50% {transform: rotate(-45deg) scale(1.2);}
    100% {transform: rotate(-45deg) scale(1);}
}

div.heart:after,
div.heart:before{
    background-color: red;
    border-radius: 50%;
    content: ''; /*Vai fazer meu quadrado aparecer*/
    height: 300px;
    position: absolute;
    width: 300px;
}

div.heart::after{
    left:0;
    top: -150px;
}

div.heart::before{
    left: 150px;
    top: 0;
}